body {
    background-color: azure;
    width: 60%;
    margin: auto;
}

.content {
    background-color: rgb(162, 177, 172);
    padding: 10px;
}

th,
td,
table {
    border: 1px solid black;
}

img {
    height: 200px;
}